<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Agent Dashboard</title>-->
<!--    <link rel="stylesheet" href="/Style.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <h1>Interface Agent</h1>-->
<!--    <p><strong>Numéro en cours de traitement :</strong> <span th:text="${currentProcessingTicket}"></span></p>-->
<!--    <form action="/agent/next" method="post">-->
<!--        <button class="btn">Client suivant</button>-->
<!--    </form>-->
<!--    <form action="/agent/previous" method="post">-->
<!--        <button class="btn">Client précédent</button>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
