<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Informations du Ticket</title>-->
<!--    <link rel="stylesheet" href="/Style.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <h1>Votre Ticket</h1>-->
<!--    <p><strong>Numéro d'e-ticket :</strong> <span th:text="${ticketNumber}"></span></p>-->
<!--    <p><strong>Position dans la file :</strong> <span th:text="${positionInQueue}"></span></p>-->
<!--    <p><strong>Nombre de personnes devant vous :</strong> <span th:text="${peopleAhead}"></span></p>-->
<!--    <p><strong>Numéro en cours de traitement :</strong> <span th:text="${currentProcessingTicket}"></span></p>-->
<!--    <a href="/" class="btn">Retour</a>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
